<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="save(form)" #form="ngForm" novalidate="">

    <div>

        <div class="form-group row ">
            <label class="col-2 col-form-label">Name</label>
            <div class="col-8">

                <input class="form-control is-invalid" [ngClass]="{'is-invalid': (name.errors?.required || name.errors?.minlength) && name.touched}" minlength="5" #name="ngModel" type="text" placeholder="Name" [(ngModel)]="user.name" name="name" required>
                <div class="invalid-feedback" *ngIf="name.errors?.required">
                    This field is required
                </div>
                <div class="invalid-feedback" *ngIf="name.errors?.minlength">
                    at least 5 character
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Last name</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Last name" #lastName="ngModel" [(ngModel)]="user.lastName" name="lastname" required>
                <div *ngIf="lastName.errors?.required">
                    This field is required
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Email</label>
        <div class="col-md-8">

            <input class="form-control" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel" required placeholder="Email" [(ngModel)]="user.email" name="email">
            <div *ngIf="email.errors?.required">
                This field is required
            </div>
            <div *ngIf="email.errors?.pattern">
                pattern
            </div>
        </div>
    </div>
    <div class="form-group row ">
        <label class="col-2 col-form-label">Country</label>
        <div class="col-8">
            <select name="country" class="form-control" id="" [(ngModel)]="user.country">
          <option [value]="item.code" *ngFor="let item of country">{{item.name}}</option>
        </select>
        </div>
    </div>
    <div class="form-group row ">
        <label class="col-2 col-form-label">Gender</label>
        <div class="col-8">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
          Male
        </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
          Female
        </label>
            </div>

        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" [disabled]="!form.valid" class="btn btn-outline-primary">
        Save
      </button>
        </div>
    </div>
</form>